*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	color: #3c3c3c;
	font-size: 12px;
}
ul{
	list-style: none;
}
a{
	color: #3c3c3c;
	text-decoration: none;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
.clearbox::before{
	content: '';
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	clear: both;
}

